@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import "tailwindcss";


 @keyframes fadeIn {
          from { opacity: 0; transform: translateY(10px); }
          to { opacity: 1; transform: translateY(0); }
}

.potta-one-regular {
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
}
 @keyframes fadeInUp {
          from {
            opacity: 0;
            transform: translateY(30px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        .animate-fadeInUp {
          animation: fadeInUp 0.6s ease-out forwards;
        }
